In [69]:
import numpy as np
import pandas as pd
from astroquery.vizier import Vizier
from astroquery.simbad import Simbad
import astropy.units as u
from astropy.coordinates import SkyCoord

In [76]:
# cat = pd.concat(cat, pd.DataFrame({'Name': 'Betelgeuse', 'RA': 88.7930621799892, 'Dec': 7.407114111111111, 'mag': 50}, index=[0]))
cat = pd.DataFrame(columns = ['# Name', 'RA', 'Dec', 'Kdmag', 'e_Kdmag'])
cat = pd.concat([cat, pd.DataFrame({'# Name': 'HD 70138', 'RA': 124.93, 'Dec': -18.2647, 'Kdmag': 50, 'e_Kdmag' : 0.01}, index=[0])])

/tmp/ipykernel_14661/1179649066.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  cat = pd.concat([cat, pd.DataFrame({'# Name': 'HD 70138', 'RA': 124.93, 'Dec': -18.2647, 'Kdmag': 50, 'e_Kdmag' : 0.01}, index=[0])])

In [77]:
cat

     # Name      RA      Dec Kdmag  e_Kdmag
0  HD 70138  124.93 -18.2647    50     0.01

In [78]:
cat.to_csv("cryoscope.txt", sep = "\t", index = False)

In [47]:
aa = np.genfromtxt("/media/advait/DATA/research/cryoscope/PySSED/src/catalogues.new", comments="#")
aa[0]

array([      nan,       nan,       nan,       nan, 2.016e+03, 5.000e-01,
       4.000e-01])

In [75]:
s = Simbad()
result = s.query_object("HD 70138")
ra_hms, dec_dms = result["RA"][0], result["DEC"][0]
ra, dec = SkyCoord(ra_hms, dec_dms, unit=(u.hourangle, u.deg)).to_string('decimal').split()
ra, dec

('124.93', '-18.2647')

In [102]:
fmodel = 7.7479815*u.Jy
alamb = fmodel.to(u.erg/u.s/u.cm**2/u.AA, equivalencies=u.spectral_density(23683.23*u.AA))
dw = 2530.5852*u.AA
a = alamb*dw
a

In [103]:
(a.value-9.52736045e-10)/9.52736045e-10

0.09995718320114413

In [88]:
(1.1365950102520925e-09-9.52736045e-10)/9.52736045e-10

0.19297996146675908

In [82]:
2.45-2.27

0.18000000000000016

In [59]:
colnames = ['# Name', 'RA', 'Dec', 'Kdmag', 'e_Kdmag']
data = ['Betelgeuse', 88.793, 7.407, 50, 0.2]
colnames, data = np.array(colnames), np.array(data)
# data = np.array([data])
data = np.vstack((colnames, data))
np.savetxt("cryoscope.txt", data, fmt = "%s", delimiter = "\t")

In [56]:
data[0]

array(['# Name', 'RA', 'Dec', 'mag'], dtype='<U32')

In [42]:
colnames

array(['# Name', 'RA', 'Dec', 'mag'], dtype='<U6')

In [118]:
obj_list = "/media/advait/DATA/research/cryoscope/PySSED/src/objects2.list"
with open(obj_list, "r") as f:
    objects = f.readlines()
objects = [obj.strip() for obj in objects]
objects

['HD 182694',
 'HD 27277',
 'HD 135153',
 'HD 6130',
 'HD 13174',
 'HD 108519',
 'HD 87822',
 'HD 16232',
 'HD 17918',
 'HD 218804',
 'HD 27524',
 'HD 75555',
 'HD 160365',
 'HD 51956',
 'HD 220657',
 'HD 111844',
 'HD 219623',
 'HD 102870',
 'HD 6903',
 'HD 176051',
 'HD 165908',
 'HD 74395',
 'HD 216219',
 'HD 21018',
 'HD 10307',
 'HD 95128',
 'HD 20619',
 'HD 42454',
 'HD 39949',
 'HD 3421',
 'HD 219477',
 'HD 10697',
 'HD 94481',
 'HD 108477',
 'HD 214850',
 'HD 18474',
 'HD 193896',
 'HD 202314',
 'HD 58367',
 'HD 115617',
 'HD 20618',
 'HD 114946',
 'HD 16139',
 'HD 104979',
 'HD 222093',
 'HD 179870',
 'HD 100006',
 'HD 145675',
 'HD 164349',
 'HD 9852',
 'HD 91810',
 'HD 25975',
 'HD 165438',
 'HD 2901',
 'HD 132935',
 'HD 16068',
 'HD 221246',
 'HD 99998',
 'HD 114960',
 'HD 45977',
 'HD 36003',
 'HD 237903',
 'HD 213893',
 'HD 19305',
 'HD 209290',
 'Gl 273',
 'LP 412-31',
 'DENIS J104814.6-395606',
 'LP 944-20',
 'RAFGL 1686',
 'HD 76846',
 '2MASS J07464256+2000321',
 '2MASS J14392836+1929149',
 '2MASS J02081833+2542533',
 'Kelu 1',
 '2MASS J11463449+2230527',
 '2MASS J15065441+1321060',
 '2MASS J00361617+1821104',
 '2MASS J22244381-0158521',
 '2MASS J15074769-1627386',
 'SDSS J053951.99-005902.0',
 '2MASS J15150083+4847416',
 '2MASS J08251968+2115521',
 'DENIS J025503.3-470049',
 'SDSS J125453.90-012247.4',
 '2MASS J05591914-1404488']

In [120]:
cat = pd.DataFrame(columns = ['# Name', 'RA', 'Dec', 'Kdmag', 'e_Kdmag'])
for obj in objects:
    try:
        result = s.query_object(obj)
    except:
        print("Error in querying object: ", obj)
        continue
    ra_hms, dec_dms = result["RA"][0], result["DEC"][0]
    ra, dec = SkyCoord(ra_hms, dec_dms, unit=(u.hourangle, u.deg)).to_string('decimal').split()
    cat = pd.concat([cat, pd.DataFrame({'# Name': obj, 'RA': ra, 'Dec': dec, 'Kdmag': 50, 'e_Kdmag' : 0.01}, index=[0])])
cat.to_csv("cryoscope.txt", sep = "\t", index = False)

/tmp/ipykernel_14661/1177993723.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  cat = pd.concat([cat, pd.DataFrame({'# Name': obj, 'RA': ra, 'Dec': dec, 'Kdmag': 50, 'e_Kdmag' : 0.01}, index=[0])])